.container--aoba{
background: #222222;

}
.productBrand {
    color: white;
   
}
.nameContainer{
    
   text-align: center;
}
.element{ 
   text-align: center;
   margin: 25px;

}
.paragraph{
    text-align: center;
}